In [21]:
import pandas as pd
import os
import re
import warnings
import pandas as pd
import yaml
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

pd.set_option("display.max_rows", 2000)

In [22]:
os.listdir("./app")

['categories.yml',
 'descriptions.yml',
 '__init__.py',
 '__pycache__',
 'SessionState.py',
 'main.py']

In [23]:
def load_yaml(path):
    with open(path, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            print(exc)

descript_map = load_yaml("./app/descriptions.yml")

In [24]:
descript_map

{'description_maps': {'identity_phrases': ['ironnet',
   'robinhood',
   'home depot',
   'amazon',
   'venmo',
   'remote online deposit',
   'simple',
   'atm',
   'coinbase',
   'chase card',
   'citi',
   'usaa',
   'vhc',
   'parking',
   '5guys',
   'prime video',
   'cubesmart',
   'hbo',
   'bird app',
   'bund up',
   'total wine',
   'bread & water',
   'giant',
   'idego',
   'goat',
   'lim*ride',
   'onlyfans',
   'postmates',
   'philz coffee',
   'northside',
   'origin coffee lab',
   'citicards cash reward',
   '7-eleven'],
  'phrase_maps': [{'key_phrase': 'electronic funds transfer',
    'description': 'transfer'},
   {'key_phrase': 'Payment Thank You - Web', 'description': 'transfer'},
   {'key_phrase': 'citi card online payment', 'description': 'transfer'},
   {'key_phrase': 'amzn', 'description': 'amazon'},
   {'key_phrase': 'cromwell', 'description': 'rent cromwell'},
   {'key_phrase': 'education student ln', 'description': 'student loans'},
   {'key_phrase': 'harris', 'description': 'harris teeter'},
   {'key_phrase': 'garage', 'description': 'parking'},
   {'key_phrase': 'parkmobile', 'description': 'parking'},
   {'key_phrase': 'long term', 'description': 'parking'},
   {'key_phrase': 'bird app', 'description': 'bird scooters'},
   {'key_phrase': 'foreign exchange rate adjustment fee',
    'description': 'foreign exchange fee'}]}}

In [25]:
TRANSACT_KEY_COLS = ["date", "original_description", "amount"]

PATH_TO_RAW = "./data/raw/"

PATH_TO_CATEGORIZED = "./data/categorized/"

PATH_TO_DESCRIPTION_MAP = "./app/descriptions.yml"

def regex_filter(self, descr):
    new_descr = descr
    for pattern in self.regex_filters:
        new_descr = re.sub(pattern, '', new_descr)
    return new_descr


def to_snake(txt):
    words = txt.lower().split(" ")
    return "_".join(words)


def get_transact_keys(df):
    return df[TRANS_KEY_COLS].drop_duplicates()
    
    
def lookup_description(original_description, descr_map):
    # contain to hold any description matches
    # some descriptions might be subsets of other
    matched = []
    
    # if any phrases in identity_phrases are substring of original_description
    # pretty descript is phrase
    for phrase in descr_map['description_maps']['identity_phrases']:
        if phrase.lower() in original_description.lower():
            matched.append(phrase.title())
            
    for phrase_map in descr_map['description_maps']['phrase_maps']:
        if phrase_map['key_phrase'].lower() in original_description.lower():
            matched.append(phrase_map['description'].title())
            
    if len(matched) == 0:
        return original_description
    else:
        lengths = [len(txt) for txt in matched]
        max_len = max(lengths)
        max_len_idx = lengths.index(max_len)
        return matched[max_len_idx]
    
    
def get_pretty_descriptions(original_descriptions):
    descr_map = load_yaml(PATH_TO_DESCRIPTION_MAP)
    new_descriptions = []
    for orig in original_descriptions:
        new_descriptions.append(lookup_description(orig, descr_map))
    return new_descriptions
    

def load_raw_transactions():
    df = pd.read_csv(PATH_TO_RAW + "transactions.csv")
    df.columns = [to_snake(col) for col in df.columns]
    
    # remove repeated white space characters
    df['original_description'] = df['original_description'].apply(lambda txt: ' '.join(txt.split()))
    
    # group by all values to aggregate duplicate transactions
    group_df = df.groupby(["date", "original_description", "transaction_type", "account_name"], as_index = False).amount.sum()
    
    # parse original descriptions to get pretty descriptions
    group_df["description"] = get_pretty_descriptions(group_df["original_description"].values)

    return group_df

In [26]:
# TODO not getting longest description for transactions. try citcards cash rewards
raw_transact = load_raw_transactions()
raw_transact.loc[raw_transact["original_description"].apply(lambda x: "citi" in x.lower()), ]

,date,original_description,transaction_type,account_name,amount,description
106,1/27/2021,CITI CARD ONLINE PAYMENT 4203,debit,CHASE COLLEGE,386.73,Transfer
582,2/02/2021,CITI CARD ONLINE PAYMENT 4203,debit,CHASE COLLEGE,398.48,Transfer
659,2/18/2021,CITI CARD ONLINE PAYMENT 4303,debit,CHASE COLLEGE,674.57,Transfer
715,3/05/2021,CITI CARD ONLINE PAYMENT 4203,debit,CHASE COLLEGE,511.13,Transfer
789,3/16/2021,CITI CARD ONLINE PAYMENT 4303,debit,CHASE COLLEGE,983.74,Transfer
878,4/13/2021,CITI AUTOPAY PAYMENT 0804,debit,CHASE COLLEGE,76.20,Citi
888,4/15/2021,CITI CARD ONLINE PAYMENT 4304,debit,CHASE COLLEGE,109.92,Transfer
950,4/30/2021,CITI CARD ONLINE PAYMENT 4204,debit,CHASE COLLEGE,216.76,Transfer
1080,5/24/2021,CITI CARD ONLINE PAYMENT 4204,debit,CHASE COLLEGE,786.27,Transfer
1162,6/11/2021,CITI CARD ONLINE PAYMENT 4304,debit,CHASE COLLEGE,431.43,Transfer
1163,6/11/2021,CITICARDS CASH REWARD,credit,CHASE COLLEGE,74.00,Citicards Cash Reward

In [61]:
categorized = pd.read_csv(PATH_TO_CATEGORIZED + "transactions.csv")
categorized.head()

,date,original_description,description,transaction_type,amount,account_name,category,subcategory
0,1/02/2020,7-ELEVEN ARLINGTON VA,7-Eleven,debit,6.88,CHASE COLLEGE,eating & drinking out,resturants
1,1/02/2020,QuickPay with Zelle payment to I,QuickPay with Zelle payment to I,debit,1190.00,CHASE COLLEGE,grocery store,NaN
2,1/02/2020,REMOTE ONLINE DEPOSIT #,Remote Online Deposit,credit,450.00,CHASE COLLEGE,transportation,uber
3,1/02/2020,USAA P&C EXT AUTOPAY 1896,Usaa,debit,71.29,CHASE COLLEGE,travel,airplane
4,1/03/2020,APPLE.COM/BILL 866-712-7753 CA,APPLE.COM/BILL 866-712-7753 CA,debit,29.99,CHASE COLLEGE,government,dmv

In [69]:
def get_description_category_map(categorized):
    """gets a mapping from pretty descriptions to most common category substring
    previously categorized transactions"""

    descript_cat_map = {}

    # get count of category/subcategory per description
    cat_count = categorized.groupby(
        ["description", "category", "subcategory"],
        as_index = False
    ).date.count()

    cat_count.rename(columns={"date":"count"}, inplace=True)

    # sort by cat count descending
    cat_count.sort_values(["description", "count"], ascending = False)

    # row order partitioned by description
    cat_count["row_num"] = cat_count.groupby("description").cumcount() + 1

    # first row
    cat_count.loc[cat_count["row_num"] == 1, ["description", "category", "subcategory"]]

    for index, row in cat_count.iterrows():
        descript_cat_map[row["description"]] = {
            "category": row["category"],
            "subcategory": row["subcategory"]
            }

    return descript_cat_map

In [74]:
description_category_map = get_description_category_map(categorized)
categories = load_yaml("./app/categories.yml")

In [109]:

PATH_TO_CATEGORIES = "./app/categories.yml"


def load_categories():
    cats_yaml = load_yaml(PATH_TO_CATEGORIES)
    categories = {}
    for cat in cats_yaml['categories']:
        categories[cat["name"]] = cat["subcategories"]
    return categories

In [110]:
categories = load_categories()
categories

{'eating & drinking out': ['',
  'delivery',
  'resturants',
  'coffee shops',
  'bars'],
 'home': ['', 'rent', 'utilities', 'home items'],
 'grocery store': [''],
 'entertainment media': ['', 'movies', 'music', 'news', 'books'],
 'amusement': [''],
 'student loans': [''],
 'transportation': ['', 'gas', 'uber', 'public'],
 'lodging': ['', 'airbnb', 'hotel'],
 'shopping': ['', 'music', 'sports', 'clothing', 'electronics', 'durables'],
 'health': ['', 'doctor', 'pharmacy', 'hygene', 'gym', 'therapy'],
 'travel': ['', 'airplane'],
 'government': ['', 'taxes', 'dmv', 'tickets'],
 'insurance': ['', 'renters', 'auto'],
 'uncategorized': ['']}

In [94]:
[x["subcategories"] for x in categories["categories"] if x["name"] == 'eating & drinking out']

[['', 'delivery', 'resturants', 'coffee shops', 'bars']]

In [82]:
description_category_map

{'7-Eleven': {'category': 'eating & drinking out',
  'subcategory': 'resturants'},
 'APPLE.COM/BILL 866-712-7753 CA': {'category': 'government',
  'subcategory': 'dmv'},
 'Remote Online Deposit': {'category': 'transportation',
  'subcategory': 'uber'},
 'Usaa': {'category': 'travel', 'subcategory': 'airplane'}}

In [111]:
def lookup_category(descr, description_category_map, categories):
    if descr in description_category_map.keys():
        category = description_category_map[descr]["category"]
        subcategory = description_category_map[descr]["subcategory"]
        # find index of category in ss.categories
        cat_list = list(categories.keys())
        print(cat_list)
        cat_index = cat_list.index(category)
        subcat_list = categories[category]
        print(subcat_list)
        subcat_index = subcat_list.index(subcategory)
        return cat_index, subcat_index
    else:
        return 0, 0

In [112]:
lookup_category("7-Eleven", description_category_map, categories)

['eating & drinking out', 'home', 'grocery store', 'entertainment media', 'amusement', 'student loans', 'transportation', 'lodging', 'shopping', 'health', 'travel', 'government', 'insurance', 'uncategorized']
['', 'delivery', 'resturants', 'coffee shops', 'bars']

(0, 2)

In [38]:
g1 = raw_transact.groupby(["description", "original_description"], as_index = False).date.count().sort_values(["description", "original_description"])
g2 = g1.groupby(['description'])
g1['bleh'] =  g2['date'].rank(method = "max")

In [43]:
g3 = g1.groupby(["description", "bleh"]).rank(ascending=False)

In [30]:
g.head()

,description,original_description,date,count_rank
0,0031 MCLEAN MCLEAN VA,0031 MCLEAN MCLEAN VA,1,1.0
1,18TH STREET LOUNGE WASHINGTON DC,18TH STREET LOUNGE WASHINGTON DC,1,1.0
2,1WSHGTN NTNLS 15625130 WASHINGTO,1WSHGTN NTNLS 15625130 WASHINGTO,1,1.0
3,2097-CLT TRIP ADVISOR CHARLOTTE,2097-CLT TRIP ADVISOR CHARLOTTE,1,1.0
4,2COCOM*TAL-SOFTWARE.CO 888-24716,2COCOM*TAL-SOFTWARE.CO 888-24716,1,1.0

In [46]:
raw_transact.columns

Index(['date', 'original_description', 'transaction_type', 'account_name',
       'amount', 'description'],
      dtype='object')

In [67]:
raw_transact['account_name'].value_counts()

CHASE COLLEGE                      1674
Venmo                                50
CREDIT CARD                          37
Citi® Double Cash Card               24
Fidelity Rewards Visa Signature      17
ETH Wallet                            5
PayPal Account                        4
My Wallet                             3
INDIVIDUAL                            2
ADA Wallet                            2
Name: account_name, dtype: int64

In [71]:
venmo_stuff = raw_transact.loc[(raw_transact['description'] == 'Venmo') | (raw_transact['account_name'] == 'Venmo'), ]

In [80]:
venmo_stuff.groupby(['description', 'transaction_type']).amount.sum().sort_values()

description                        transaction_type
Anotha One                         credit                 3.00
Lvkbbq                             credit                 3.00
Exvhange Rate Fees                 credit                 3.00
ATM fee                            debit                  5.00
Atm fees                           credit                 5.00
Chug                               debit                  5.00
Kai                                debit                 10.43
Victoria Garcia Paid               credit                12.00
Kai March                          credit                12.22
Airline Seat Change                credit                14.40
Rest mia                           debit                 17.88
Grill V Pescadores                 credit                20.00
Indian                             credit                21.50
Parking                            credit                24.00
Food                               debit                 24.57
Dranks                             credit                25.00
Kai                                credit                25.57
Mina Mex Food                      credit                27.67
Mezzanine                          credit                29.33
Zelda                              credit                30.00
Kbbq                               credit                32.00
Bikes                              debit                 40.00
Kai Monday Night                   credit                40.00
Grill pesc                         debit                 43.89
Kbbq Lv                            credit                49.50
Booze                              credit                50.00
Something I Didnt                  credit                52.00
Covid Test                         credit                72.90
Kai food                           debit                 76.72
Rosa Negra                         credit                81.00
Vegas                              debit                 85.00
Beach stuff                        debit                105.57
Airport Shuttle                    credit               115.00
Caleb Crouse Paid Jason Closs      debit                122.50
Atm                                credit               142.15
Thanks                             debit                150.00
Vegas Kbbq                         credit               154.00
Hey                                debit                200.00
Wedding Hotellly                   credit               210.00
Akshay Arora Charged Caleb Crouse  debit                220.29
Puhl                               debit                224.00
Cosmo                              debit                607.00
Transfer To JPMORGAN CHASE         debit                893.50
Venmo                              debit               3625.71
Name: amount, dtype: float64

In [48]:
categories = load_yaml("./app/categories.yml")

In [54]:
organized_cats = {}
for cat in categories['categories']:
    organized_cats[cat["name"]] = cat["subcategories"]

In [56]:
sorted(organized_cats)

['amusement',
 'eating & drinking out',
 'entertainment media',
 'government',
 'grocery store',
 'health',
 'home',
 'insurance',
 'lodging',
 'shopping',
 'student loans',
 'transportation',
 'travel',
 'uncategorized']

In [57]:
organized_cats

{'eating & drinking out': ['',
  'delivery',
  'resturants',
  'coffee shops',
  'bars'],
 'home': ['', 'rent', 'utilities', 'home items'],
 'grocery store': [''],
 'entertainment media': ['', 'movies', 'music', 'news', 'books'],
 'amusement': [''],
 'student loans': [''],
 'transportation': ['', 'gas', 'uber', 'public'],
 'lodging': ['', 'airbnb', 'hotel'],
 'shopping': ['', 'music', 'sports', 'clothing', 'electronics', 'durables'],
 'health': ['', 'doctor', 'pharmacy', 'hygene', 'gym', 'therapy'],
 'travel': ['', 'airplane'],
 'government': ['', 'taxes', 'dmv', 'tickets'],
 'insurance': ['', 'renters', 'auto'],
 'uncategorized': ['']}

In [22]:
# df[['date','original_description','amount']].value_counts().sort_values(ascending=False)

In [439]:
credits = df[df['transaction_type'] == 'credit']
debits = df[df['transaction_type'] == 'debit']

In [442]:
def regex_filter(descr):
    patterns = [
        # only digits word
        '\s\d+',
        
        # state and forward slash
        '\s[A-Z]{1,2}/[0-9]{2}',
        
        # filter LLC extension
        ', LLC.*',
        'LLC.*',
        
        # filter website extension
        '\sWWW.*',
        '\s\S\.com',
        
        # simple filters
        '\sWEB\s',
        'ID:',
        
        'TST\*\s',
        
        '\sHTTP.*',
    ]
    
    new_descr = descr
    for pattern in patterns:
        new_descr = re.sub(pattern, '', new_descr)
        
    return new_descr